# Add files here to ignore them from prettier formatting

/tmp
/build
/coverage
/node_modules

package-lock.json

.eslintignore
.prettierignore
.editorconfig
.gitkeep
.gitignore
.dockerignore


/tools/generators/**/templates/**